<ion-view view-title="Contact Us">
  <ion-content>

    <form ng-submit="submitEnquire(name, email, mobile, checkIn, checkOut)" name="contactUsForm" >
      <div class="list contact-form">

        <label class="item item-input item-floating-label">
          <span class="input-label blue">First Name *</span>
          <input type="text" name="name" placeholder="First Name *" ng-model="name" ng-minlength="3" required>
          <div class="error-text" ng-messages="contactUsForm.name.$error" role="alert" ng-show="errors">
            <div ng-message="required">
              <p><i class="icon ion-android-alert"></i> Please enter your name</p>
            </div>
            <div ng-message="minlength, maxlength">
              <p><i class="icon ion-android-alert"></i> Your name must be at least 3 characters long</p>
            </div>
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label blue">Email *</span>
          <input type="email" name="email" placeholder="Email *" ng-model="email" required>
          <div class="error-text" ng-messages="contactUsForm.email.$error" role="alert" ng-show="errors">
            <div ng-message="required">
              <p><i class="icon ion-android-alert"></i> Please enter your email address</p>
            </div>
            <div ng-message="email">
              <p><i class="icon ion-android-alert"></i> Please enter a valid email address</p>
            </div>
            <!-- <div ng-message="minlength, maxlength">
              <p><i class="icon ion-android-alert"></i> This is not a valid email address</p>
            </div> -->
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label blue">Mobile</span>
          <input type="number" placeholder="Mobile" ng-model="mobile">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label blue">Message *</span>
          <textarea type="text" name="message" placeholder="Message *" ng-model="message" required></textarea>
          <div class="error-text" ng-messages="contactUsForm.message.$error" role="alert" ng-show="errors">
            <div ng-message="required">
              <p><i class="icon ion-android-alert"></i> Please enter a message</p>
            </div>
            <!-- <div ng-message="minlength, maxlength">
              <p><i class="icon ion-android-alert"></i> This is not a valid email address</p>
            </div> -->
          </div>
        </label>

      </div>

      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <a type="button" ng-click="submitContactUs(name, email, mobile, message)" class="button button-block enquire-subm-btn bg-blue white">
            Send
          </a>
        </div>
        <div class="col enquire-loader">
          <ion-spinner icon="crescent" ng-if="showSending"></ion-spinner>
        </div>
      </div>
    </form>

      <div class="bottom-space"></div>

  </ion-content>
</ion-view>