<ion-view view-title="{{state.provinceName}}">
  <ion-content class="padding">
    <h3 class="page-blue-heading">
      Cities : {{cities.length}} Results
    </h3>
    <ion-list class="list-wrap">
    	<div ng-repeat="city in cities">
			<ion-item>
				<a type="button" href="#/app/destinations/{{state.provinceName}}+id={{state.provinceId}}/{{city.city}}+id={{city.city_id}}" class="button button-block btn-city">
				  	<div class="btn-city-view-name">
				  		{{city.city}}
				  	</div>
				  	<div class="btn-city-view bg-blue">
				  		view
				  	</div>
				</a>
			</ion-item>
			<div class="collection-repeat-spacer"></div>
		</div>
	</ion-list>

	<div class="bottom-space"></div>
	
  </ion-content>
</ion-view>