<ion-view view-title="{{state.cityName}}">
  <ion-content id="container" scroll="false">

  	<div ng-show="showMap" class="map-wrap">
  		<div id="map-list-item-wrap"></div>  		
	  	<div id='map' style='height: 100%; width: 100%;' data-tap-disabled="true"></div>
	</div>

  	<ion-scroll style="position:relative" ng-hide="showMap" class="padding" delegate-handle="scroll" on-scroll="scrollFunc()" ng-style="{'height': setScrollHeight}">
    <h3 class="page-blue-heading">
      {{results}} Results
    </h3>
	<ion-list class="list-wrap" id="itemList">

		<div ng-repeat="accommodation in itemsArray">

			<ion-item>
				<a type="button" href="#/app/destinations/{{state.provinceName}}+id={{state.provinceId}}/{{state.cityName}}+id={{state.cityId}}/{{accommodation.n}}+id={{accommodation.id}}" class="accom-btn">
					<div class="row">
						<div class="col accom-img-bg">
							<div class="accom-distance bg-yellow white" id="{{accommodation.id}}">
								<i class="icon ion-location"></i>&nbsp;&nbsp;{{accommodationsDistances[$index]}}km
							</div>
							<img ng-src="{{accommodation.tb}}" alt="">
						</div>
						<div class="col col-75 accom-content">
							<h3 class="page-blue-heading">
								<b>
									{{accommodation.n}}
								</b>
							</h3>
							<div class="accom-title-underline"></div>
							<div class="row accom-ratings-row">
								<div class="col col-50">
									<img ng-src="img/ratings/ratings-{{accommodation.r}}.svg" alt="">
								</div>
								<div class="col col-50 accom-ratings-row-price" ng-if="accommodation.pl != 0.00">
									<b>{{accommodation.pl}} ZAR</b>
								</div>
							</div>
							<div class="row">

							</div>
						</div>
					</div>
				</a>
			</ion-item>			

			<div class="collection-repeat-spacer"></div>

		</div>		

	</ion-list>

	<ion-list class="list-wrap">
		<div class="center">
			<ion-spinner icon="spiral" ng-if="!hide"></ion-spinner>
			<ion-item ng-if="end" class="button button-block btn-city">
				No more results
			</ion-item>
		</div>
	</ion-list>

	<div class="bottom-space-single-accom"></div>

	</ion-scroll>
  </ion-content>
</ion-view>