<ion-view view-title="Home IOS">
  <ion-content overflow-scroll="false" has-bouncing="false"> 

    <div class="homepage-slider">
			<ion-slides options="{allowSwipeToNext: false, allowSwipeToPrev: false}">
        <ion-slide-page>
          <img src="img/homepage-banner/homepage-banner-1.png">
        </ion-slide-page>
      </ion-slides>
    </div>

    <div class="row no-padding">
  		<div class="col home-sub-heading">
  			<h3 class="page-blue-heading">
  				<b>
  					Filter Accommodations By:
  				</b>
  			</h3>
  		</div>
    </div>
  	<div class="row no-padding home-col">
  		<div class="col home-col-1">
        <div class="home-item-col">
    			<a class="tab-item icon-font home-icon-link" ng-click="$root.tabSelect('tab-topdes')" href="#/app/destinations" >
    				<i class="icon ion-ios-location home-icon"></i>
            View Top<br> Destinations
    			</a>
          <div class="center" ng-if="showSpiralCity == true">
            <ion-spinner icon="crescent" ng-if="!hide"></ion-spinner>      
          </div>
          <ion-scroll style="height: 390px">
            <div ng-repeat="topDestination in topDestinationArray">            
              <a href="#/app/destinations/{{state.provinceName}}+id={{state.provinceId}}/{{topDestination.city}}+id={{topDestination.city_id}}">
                <div class="home-col-content-block">
                  <div class="home-col-content-block-distance-wrap">
                    {{topDestination.city}}<!-- <i class="icon ion-location"></i>&nbsp;&nbsp;{{accommodationsDistances[$index]}}&nbsp;km -->
                  </div>
                  <div class="image-load-wrap">
                    <div class="image-loader">
                      <ion-spinner icon="crescent">
                    </ion-spinner></div>            
                    <img ng-style="{height: $root.homeImgHeight, width: $root.homeImgWidth}" ng-src="{{cityArrayImg[$index]}}" imageonload>
                  </div>               
                </div>
              </a>
            </div>
          </ion-scroll>
        </div>
  		</div>
  		<div class="col home-col-2">
        <div class="home-item-col">
    			<a class="tab-item icon-font home-icon-link" href="#/app/featured-accommodation" >
    				<i class="icon ion-heart home-icon"></i>
    				Featured<br> Accommodation
    			</a>
          <div class="center" ng-if="showSpiralReccom == true">
            <ion-spinner icon="crescent" ng-if="!hide"></ion-spinner>      
          </div>
          <div class="homepage-ion-scroll-wrap">
            <div ng-repeat="reccommendedAccom in reccommendedAccomArray">            
              <a href="#/app/destinations/{{state.provinceName}}+id={{state.provinceId}}/{{state.cityName}}+id={{state.cityId}}/{{reccommendedAccom.n}}+id={{reccommendedAccom.id}}">
                <div class="home-col-content-block">
                  <div class="home-col-content-block-distance-wrap" ng-if="$root.positionAvailable && homeRecommended">
                    <i class="icon ion-location"></i>&nbsp;&nbsp;{{reccommendedAccom.distance}}&nbsp;km
                  </div>
                  <div class="image-load-wrap">
                    <div class="image-loader">
                      <ion-spinner icon="crescent">
                    </ion-spinner></div>            
                    <img ng-style="{height: $root.homeImgHeight, width: $root.homeImgWidth}" ng-src="{{reccommendedAccom.tb}}" imageonload>
                  </div>               
                </div>
              </a>
            </div>
          </div>        
        </div>
  		</div>
  		<!-- <div class="col home-col-3">
  			<a class="tab-item icon-font home-icon-link" href="#/app/specials" >
  				<i class="icon ion-ios-location"></i>
  				Specials
  			</a>
  		</div> -->
  		<div class="col home-col-4" ng-if="$root.positionAvailable">
        <div class="home-item-col">
    			<a class="tab-item icon-font home-icon-link" href="#/app/near-me" >
    				<i class="icon ion-navigate home-icon"></i>
    				What's<br> Near Me
    			</a>
          <div class="center" ng-if="showSpiralNear == true">
            <ion-spinner icon="crescent"></ion-spinner>      
          </div>
          <div class="homepage-ion-scroll-wrap">
            <div ng-repeat="accommodation in nearMeAcommodations">            
              <a href="#/app/destinations/{{state.provinceName}}+id={{state.provinceId}}/{{state.cityName}}+id={{state.cityId}}/{{accommodation.n}}+id={{accommodation.id}}">
                <div class="home-col-content-block">
                  <div class="home-col-content-block-distance-wrap">
                    <i class="icon ion-location"></i>&nbsp;&nbsp;{{accommodation.distance}}&nbsp;km
                  </div> 
                  <div class="image-load-wrap">
                    <div class="image-loader">
                      <ion-spinner icon="crescent">
                    </ion-spinner></div>             
                    <img ng-style="{height: $root.homeImgHeight, width: $root.homeImgWidth}" ng-src="{{accommodation.tb}}" alt="" imageonload>
                  </div>
                </div>
              </a>
            </div>
          </div>
          
        </div>
  		</div>  
    </div>   
  </ion-content>
</ion-view>