<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>

    <form ng-submit="$root.searchByCity()" ng-if="showSearchBar" class="search-bar-wrapper">
      <div class="bar bar-header search-bar item-input-inset bg-blue">      
        <label class="item-input-wrapper search-input">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search by city" ng-model="$root.searchQuery">
        </label>
        <div class="search-nav-btn-right-wrap">
          <a type="button" ng-click="$root.closeSearch()" class="button button-icon ion-android-close search-nav-btn-right">
              </a>
              <!-- <button ng-click="submitLogin()" class="button button-icon ion-android-search search-nav-btn-right">
              </button> -->
          </div>
      </div>
    </form>

    <ion-nav-bar class="nav-bar bg-blue">
      <!-- <ion-nav-back-button>
      </ion-nav-back-button> -->
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon nav-btn" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a type="button" href="#/app/search" class="button button-icon ion-android-search nav-btn-right">
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- <button style="position: absolute; top: 200px; z-index: 99; right: 0;" ng-click="controllerMapView()">Map View</button>
    <button style="position: absolute; top: 250px; z-index: 99; right: 0;" ng-click="controllerListView()">List View</button> -->

    <ion-nav-view name="menuContent"></ion-nav-view>
    
    <a type="button" ng-class="$root.footerBtn" class="footer-btn back-btn" ng-click="$root.goBack()" ng-if="$root.showBack">
      <i class="icon ion-arrow-return-left"></i>
    </a>    

    <ion-footer-bar align-title="left" class="footer-bar" ng-show="$root.showTabs && $root.orientation">
      <div class="tabs footer-tabs tabs-icon-top bg-blue">
        <a id="tab-topdes" class="tab-item" href="#/app/destinations">
          <i class="icon ion-ios-location"></i>
          Top Destinations
        </a>
        <a id="tab-featured" class="tab-item" href="#/app/featured-accommodation">
          <i class="icon ion-heart"></i>
          Featured Accommodation
        </a>          
        <a id="tab-nearme" class="tab-item" href="#/app/near-me">
          <i class="icon ion-navigate"></i>
          What's Near Me
        </a>
      </div>
    </ion-footer-bar>

  </ion-side-menu-content>  

  <ion-side-menu side="left" class="bg-yellow">
    <ion-content ng-class="$root.menuBg">
      <ion-list class="menu-list">
        <ion-item menu-close class="nav-menu-item" href="#/app/home">
          Home
        </ion-item>
        <div class="menu-border-wrap">
          <div class="menu-item-unerline"></div>
        </div>
        <ion-item menu-close class="nav-menu-item" href="#/app/contact-us">
          Contact Us
        </ion-item>
        <div class="menu-border-wrap">
          <div class="menu-item-unerline"></div>
        </div>
        <ion-item menu-close class="nav-menu-item" href="#/app/about-us">
          AA Information
        </ion-item>
        <div class="menu-border-wrap">
          <div class="menu-item-unerline"></div>
        </div>
        <ion-item menu-close class="nav-menu-item" href="#/app/favourite-accommodations">
          Favourites
        </ion-item>
        <div class="menu-border-wrap">
          <div class="menu-item-unerline"></div>
        </div>
        <ion-item menu-close ng-class="$root.socialIconsWrap" class="nav-menu-item">
          <div class="row menu-social-row">
            <div class="col col-40 center-text">
              Follow us:
            </div>
            <a href="" class="col col-30 menu-social-col center-content white">
              <i class="icon menu-icon ion-social-facebook"></i>
            </a>
            <a href="" class="col col-30 menu-social-col center-content white">
              <i class="icon menu-icon ion-social-twitter"></i>
            </a>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

