<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="nav-bar bg-blue">
      <!-- <ion-nav-back-button>
      </ion-nav-back-button> -->
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon nav-btn" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a type="button" href="#/app/search" class="button button-icon ion-android-search nav-btn-right">
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- <button style="position: absolute; top: 200px; z-index: 99; right: 0;" ng-click="controllerMapView()">Map View</button>
    <button style="position: absolute; top: 250px; z-index: 99; right: 0;" ng-click="controllerListView()">List View</button> -->

    <ion-nav-view name="menuContent"></ion-nav-view>

    <a type="button" class="footer-btn enquire-btn" id="enquire-btn" ng-click="goToEnquireForm()" ng-show="$root.enquireBtn">
      ENQUIRE
    </a>
    <a type="button" class="footer-btn list-view-btn" ng-click="controllerListView()" ng-if="$root.showMapBtn">
      <i class="icon ion-ios-list-outline"></i>
    </a>
    <a type="button" class="footer-btn map-view-btn" ng-click="controllerMapView()" ng-if="$root.showMapBtn">
      <i class="icon ion-map"></i>
    </a>
    <a type="button" class="footer-btn back-btn" ng-click="$root.goBack()" ng-if="$root.showBack">
      <i class="icon ion-arrow-return-left"></i>
    </a>
    <ion-footer-bar align-title="left" class="footer-bar" ng-if="$root.showTabs">
        <!-- <div class="footer-btn-wrap"> -->
            <!-- <a type="button" class="footer-btn-1" href="" >
                Back
            </a>
            <a type="button" class="footer-btn-2" href="" >
                Back
            </a> -->
            
        <!-- </div> -->
        <div class="tabs footer-tabs tabs-icon-top bg-blue">
          <a class="tab-item" href="#/app/destinations">
            <i class="icon ion-ios-location"></i>
            Destinations
          </a>
          <a class="tab-item" href="#/app/recommended">
            <i class="icon ion-heart"></i>
            Featured Acommodation
          </a>
          <!-- <a class="tab-item" href="#/app/specials">
            <i class="icon ion-star"></i>
            Specials
          </a> -->          
          <a class="tab-item" href="#/app/near-me">
            <i class="icon ion-navigate"></i>
            Near Me
          </a>
        </div>
    </ion-footer-bar>

  </ion-side-menu-content>

  <ion-side-menu side="left" class="bg-yellow">
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar> -->
    <ion-content>
      <ion-list>
        <ion-item menu-close class="nav-menu-item" href="#/app/home">
          Home
        </ion-item>
        <div class="menu-border-wrap">
          <div class="menu-item-unerline"></div>
        </div>
        <ion-item menu-close class="nav-menu-item" href="#/app/home">
          Contact Us
        </ion-item>
        <div class="menu-border-wrap">
          <div class="menu-item-unerline"></div>
        </div>
        <ion-item menu-close class="nav-menu-item" href="#/app/home">
          AA Information
        </ion-item>
        <div class="menu-border-wrap">
          <div class="menu-item-unerline"></div>
        </div>
        <!-- <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

