<ion-view view-title="Search">

  	<ion-content class="search-content padding">

  		<div ng-if="search">

	  		<h3 class="page-blue-heading">
		      Most Popular Cities
		    </h3>

	  		<ion-list class="list-wrap">
	  			
		    	<div ng-repeat="topDestination in topDestinationArray">
					<ion-item>
						<a type="button" href="#/app/destinations/{{state.provinceName}}+id={{state.provinceId}}/{{topDestination.city}}+id={{topDestination.city_id}}" class="button button-block btn-city">
						  	<div class="btn-city-view-name">
						  		{{topDestination.city}} ({{topDestination.num}})
						  	</div>
						  	<div class="btn-city-view bg-blue">
						  		<i class="icon ion-eye"></i>
						  		&nbsp; VIEW
						  	</div>
						</a>
					</ion-item>
					<div class="collection-repeat-spacer"></div>
				</div>
			</ion-list>

		</div>

		<div ng-if="!search">

			<h3 class="page-blue-heading">
		      	Search Results
		    </h3>

	    	<ion-list class="list-wrap">
	    		<div ng-if="noResult">
	  				<ion-item class="button button-block btn-city">
						No results found
					</ion-item>
				</div>
		    	<div ng-repeat="city in cities">
					<ion-item>
						<a type="button" href="#/app/destinations/{{state.provinceName}}+id={{state.provinceId}}/{{city.city}}+id={{city.city_id}}" class="button button-block btn-city">
						  	<div class="btn-city-view-name">
						  		{{city.city}} ({{city.num}})
						  	</div>
						  	<div class="btn-city-view bg-blue">
						  		<i class="icon ion-eye"></i>
						  		&nbsp; VIEW
						  	</div>
						</a>
					</ion-item>
					<div class="collection-repeat-spacer"></div>
				</div>
			</ion-list>

		</div>

		<div class="bottom-space"></div>

  	</ion-content>
</ion-view>
